{% extends 'base.html'%}
{% macro displaySourcesList(news_sources) %}

<div class="container-fluid">
 {% for source in news_sources | batch(3) %}
    <div class="row justify-content-between">
        {% for source in source %}
        <div class="well well-sm col-md-4 mywells" styles="padding-left:50px;padding-right:50px;height:auto;  background-color: #E6F7F6;">

            <div>
                <h3 class="text-uppercase" style="text-align:center"><a href="/articles/{{source.source_id}}">{{source.source_id}}</a></h3>
                <br>
                <p class="text-justify" style="font-weight:bold">{{ source.description|truncate(150)}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
 {% endfor %}
</div>


{% endmacro %}


<!-- Displaying articles macro -->
{% macro displayNewsarticles(source_and_articles) %} {% for article in source_and_articles %}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well" style="height:400">
<img src="{{article.urlToImage}}" alt="IMAGE NOT FOUND" style="width:150px;height:150px; float:left">
        <h3 style="margin-top:-10px">{{article.title}}</h3>
        <p style="font-weight:bold;margin-left:50px">{{article.description|truncate(100)}}</p>
        <a href="{{article.url}}">
            <p>Read more...</p>
        </a>
        <br>
        <footer style="font-weight:bolder">Published:{{article.publishedAt}}</footer>
    </div>
</div>
{% endfor %}
{% endmacro %}
